<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Address</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" />

</head>

<body style="background-color: #f7fbe1;">
    <div class="container-fluid heading1"><h4 style="color: white;">ADD ADDRESS</h4></div>

    <div id="map"></div>

    <form action="/address" method="POST">

        <div class="row">
            <div class="col-lg-4 text-center">
                <input type="text" placeholder=" Name" name="name" class="input-field" required />
            </div>
            <div class="col-lg-4 text-center">
                <input type="number" placeholder=" 10-digit mobile number" name="mobile_no" class="input-field"
                    required />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 text-center">
                <input type="number" placeholder=" Pincode" name="pincode" class="input-field" required />
            </div>
            <div class="col-lg-4 text-center">
                <input type="text" placeholder=" Locality" name="locality" class="input-field" required />
            </div>
        </div>

        <!----------------------------------- ADDRESS -------------------------------------->

        <div class="row">
            <div class="col-lg-8 text-center">
                <textarea rows="3" type="text" placeholder=" Address (Area and Street)" name="address" class="address"
                    required></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 text-center">
                <input type="text" placeholder=" City/District/Town" name="city" class="input-field" required />
            </div>

            <!-------------------------- STATE ---------------------------------->

            <div class=" col-lg-4 text-center">
                <select name="state" class="input-field" required>
                    <option value="">Select State</option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                    <option value="Daman and Diu">Daman and Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Puducherry">Puducherry</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 text-center">
                <input type="text" placeholder=" Landmark (Optional)" name="landmark" class="input-field" />
            </div>
            <div class=" col-lg-4 text-center">
                <input type="number" placeholder=" Alternate Phone (Optional)" name="alt_phone" class="input-field" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 text-center">
                <input type="email" placeholder=" Email Id" name="email" class="input-field" required />
            </div>

            <!-------------------------- NATIONALITY ---------------------------------->

            <div class=" col-lg-4 text-center">
                <select name="nationality" class="input-field" required>
                    <option value="">Select Nationality</option>
                    <option value="afghan">Afghan</option>
                    <option value="albanian">Albanian</option>
                    <option value="algerian">Algerian</option>
                    <option value="american">American</option>
                    <option value="australian">Australian</option>
                    <option value="austrian">Austrian</option>
                    <option value="azerbaijani">Azerbaijani</option>
                    <option value="bahamian">Bahamian</option>
                    <option value="bahraini">Bahraini</option>
                    <option value="bangladeshi">Bangladeshi</option>
                    <option value="barbadian">Barbadian</option>
                    <option value="barbudans">Barbudans</option>
                    <option value="batswana">Batswana</option>
                    <option value="belarusian">Belarusian</option>
                    <option value="belgian">Belgian</option>
                    <option value="belizean">Belizean</option>
                    <option value="beninese">Beninese</option>
                    <option value="bhutanese">Bhutanese</option>
                    <option value="bolivian">Bolivian</option>
                    <option value="bosnian">Bosnian</option>
                    <option value="brazilian">Brazilian</option>
                    <option value="british">British</option>
                    <option value="canadian">Canadian</option>
                    <option value="cape verdean">Cape Verdean</option>
                    <option value="central african">Central African</option>
                    <option value="chadian">Chadian</option>
                    <option value="chilean">Chilean</option>
                    <option value="chinese">Chinese</option>
                    <option value="colombian">Colombian</option>
                    <option value="finnish">Finnish</option>
                    <option value="french">French</option>
                    <option value="hungarian">Hungarian</option>
                    <option value="icelander">Icelander</option>
                    <option value="indian">Indian</option>
                    <option value="indonesian">Indonesian</option>
                    <option value="iranian">Iranian</option>
                    <option value="iraqi">Iraqi</option>
                    <option value="irish">Irish</option>
                    <option value="israeli">Israeli</option>
                    <option value="italian">Italian</option>
                    <option value="ivorian">Ivorian</option>
                    <option value="jamaican">Jamaican</option>
                    <option value="japanese">Japanese</option>
                </select>
            </div>
        </div>


        <div class="radio" style="margin-left: 75px;">
            <h6>Address Type</h6>
            <label class="add_typ"><input type="radio" name="optradio" value="Home" required> Home</label>
            <label><input type="radio" name="optradio" value="Work" required> Work</label>
        </div>

        <div class="radio" style="margin-left: 75px;">
            <label class="add_typ"><input type="checkbox" value="true" name="check" required> I accept the <a href="">Terms and Conditions</a>.</label>
        </div>

        <div class="add_div">
            <button type="submit" class="btn add-btn">Add Address </button>
            <a href="/" class="cancel"> Cancel</a>
        </div>

    </form>

    <!--------------------------------------------- SCRIPTS ------------------------------------------>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap"
        type="text/javascript"></script>

    <!------------------------ ADDING MAP ---------------------->

    <script type="text/javascript">
        x = navigator.geolocation;

        x.getCurrentPosition(success, failure);

        function success(position) {
            var myLat = position.coords.latitude;
            var myLong = position.coords.longitude;

            var coords = new google.maps.LatLng(myLat, myLong);

            var mapOptions = {

                zoom: 12,
                center: coords,
                mapTypeId: google.maps.MapTypeId.ROADMAP

            }

            var map = new google.maps.Map(document.getElementById("map"), mapOptions);

            var marker = new google.maps.Marker({ map: map, position: coords });

        }

        function failure() { }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>
