/*************************************** address.ejs style sheet **********************************/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#map{
    width: 90%;
    height: 400px;
    margin:auto; 
    margin-bottom: 30px;
}

.heading1{
  background-color: black; 
  height: 70px; 
  padding-top: 20px; 
  margin-bottom: 30px; 
  padding-left: 75px;
}

.input-field{
  width: 70%; 
  height: 50px; 
  margin-bottom: 30px;
}

.address{
  width: 85.5%; 
  margin-bottom: 30px;
}

.add_typ{
  margin-right: 30px; 
  margin-bottom: 10px;
}

.add-btn{
  background-color: blueviolet;
  color: white;
  width: 200px;
}

.cancel{
  font-size: large; 
  margin-left: 20px; 
  color: blueviolet;
}

.add_div{
  margin-left: 75px; 
  margin-top: 20px;
  margin-bottom: 40px;
}


input{
  padding-left: 5px;
}

@media(max-width: 991px) {

  .address {
      width: 70%;
  }
  
}
/******************************************************* home.ejs *********************************/

.heading2{
  background-color: black; 
  height: 70px; 
  padding-top: 20px; 
  margin-bottom: 30px; 
  padding-left: 55px;
}

.div-1{
  margin-left: 70px; 
  margin-right: 30px; 
  border-width: 1px; 
  border-style: solid ;
  border-color: black; 
  padding-top: 20px; 
  padding-bottom: 20px;
}

.add-typ{
  background-color: #3b6978; 
  color: white; 
  padding-left: 5px; 
  padding-right: 5px;
}

.delete{
  background-color: #3b6978; 
  color: white;
}

.add-address{
  background-color: #3b6978; 
  width: 200px; 
  margin-left: 55px;
}

.add-link{
  text-decoration: none; 
  color: white;
}

.add-address :hover{
  text-decoration: none;
  color: black;
}

@media(max-width: 600px) {

  .div-1 {
      margin-left: 30px;
  }
  
.heading2{
  padding-left: 15px
}

.add-address{
  margin-left: 15px;
}

}